@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "NokiaPureHeadline";
  src: url("NokiaPureHeadline_Rg.ttf");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "NokiaPureHeadlineLight";
  src: url("NokiaPureHeadline_Lt.ttf");
}

* {
  font-family: "NokiaPureHeadline", Helvetica;
}

.has-font-nokia {
  font-family: "NokiaPureHeadline", Helvetica;
}

.has-font-nokia-light {
  font-family: "NokiaPureHeadlineLight", Helvetica;
}

#title {
  color: rgb(18, 65, 145);
  font-family: "NokiaPureHeadlineLight", Helvetica;
}

.has-text-nokia-blue-black {
  color: rgb(0, 17, 53);
}

.has-header-img {
  background: url(../images/connected.jpg)center center;
  background-size: cover;
}

.has-background-transparent {
  opacity: 0.5;
}

td, .highlight, mark, .tooltip, .path-prefix {
  font-family: "Fira Code", monospace;
  letter-spacing: -0.5px;
  font-size: 14px;
}

.highlight, mark { 
  background-color: yellow;
}

a.disabled {
  pointer-events: none;
  color: #ccc;
}

#c2c {
  right: 0;
  margin: 10;
  float: right;
  z-index: 2000;
  position: fixed;
  font-size: 14px;
}

.panel-container {
  max-height: 300px; 
  overflow: auto;
}

.panel-block {
  font-size: 14px;
}