<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Siva Sivakumar">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nokia SR Linux YANG Model</title>
  <link rel="icon" href="../images/srlinux.svg">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
  <script src="../js/datatables.mark.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NB34K69ZRD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-NB34K69ZRD');
  </script>
</head>

<body>
  <div class="hero is-normal has-header-img">
    <div class="hero-head">
      <div class="container">
        <nav class="level is-mobile pt-3">
          <div class="level-left"></div>
          <div class="level-right">
            <div class="level-item">
              <div class="buttons is-right">
                <a class="button is-dark is-small is-rounded" href="https://learn.srlinux.dev/yang/browser/">
                  <i class="fas fa-question"></i>
                </a>
                <a class="button is-dark is-small is-rounded" href="../">
                  <i class="fas fa-home"></i>
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="hero-body">
      <div class="container">
        <p class="title"><img src="../images/nblue.png" width="100" /></p>
        <h3 class="title is-3 has-text-weight-light" id="title">
          SR Linux <span id="version"></span> YANG Model
        </h3>
      </div>
    </div>
    <div class="hero-footer">
      <nav class="tabs is-right">
        <div class="container">
          <ul>
            <li>
              <a class="has-text-link" href="./tree.html" target="_blank">
                <span class="icon"><i class="far fa-file-code"></i></span>
                <span>Tree Browser</span>
              </a>
            </li>
            <li>|</li>
            <li>
              <a class="has-text-link" href="./tree.txt" target="_blank">
                <span class="icon"><i class="fas fa-code-branch"></i></span>
                <span>Tree</span>
              </a>
            </li>
            <li>|</li>
            <li>
              <a class="has-text-link" href="./paths.txt" target="_blank">
                <span class="icon"><i class="far fa-file-alt"></i></span>
                <span>Paths</span>
              </a>
            </li>
            <li>|</li>
            <li>
              <a class="has-text-link" target="_blank" id="source">
                <span class="icon"><i class="fab fa-github"></i></span>
                <span>Source</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="hero is-small">
    <div class="hero-body">
      <div class="container">
        <h4 class="title is-5 has-text-nokia-blue">Path Browser</h4>
        <p id="message">
          <progress class="progress is-small is-primary" max="100">15%</progress>
        </p>
        <div id="yangModel" style="display: none;">
          <input class="input customSearch has-font-nokia" type="text" placeholder="Search by State / Path / Type...">
          <div class="control mt-3">
            <label class="radio"><input type="radio" name="pathType" onclick="toggleFilter(this)" value="na" checked>
              All</label>
            <label class="radio"><input type="radio" name="pathType" onclick="toggleFilter(this)" value="true">
              State</label>
            <label class="radio"><input type="radio" name="pathType" onclick="toggleFilter(this)" value="false">
              Config</label>
          </div>
          <table class="table is-striped is-fullwidth" id="myTable">
            <thead>
              <tr>
                <th>State</th>
                <th>Path</th>
                <th>Type</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="created" class="hero is-small">
    <div class="hero-body">
      <div class="container has-text-centered is-fluid">
        <p>Created by
          <a class="has-text-link" href="https://www.linkedin.com/in/siva19susi" target="_blank">Siva Sivakumar</a> /
          <a class="has-text-link" href="https://www.linkedin.com/in/rdodin" target="_blank">Roman Dodin</a> /
          <a class="has-text-link" href="https://github.com/srl-labs" target="_blank"><i class="fab fa-github"></i>
            srl-labs</a>
        </p>
      </div>
    </div>
  </div>
  <script src="../js/index.js"></script>
</body>

</html>