@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "NokiaPureHeadline";
    src: url("/fonts/NokiaPureHeadline_Rg.ttf");
  }
  
  @font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "NokiaPureHeadlineLight";
    src: url("/fonts/NokiaPureHeadline_Lt.ttf");
  }

  .has-header-img {
    background: url(/images/background.jpg)center center;
    background-size: cover;
  }

  .dropdown:hover .dropdown-content {display: block;}

  :global(html) {
    scroll-behavior: smooth;
  }

  /* Scroll Light */
  .scroll-light::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .scroll-light::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scroll-light::-webkit-scrollbar-thumb {
    background: #bec4c4;
  }

  .scroll-light::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Scroll Dark */
  .scroll-dark::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .scroll-dark::-webkit-scrollbar-track {
    background: rgb(55 65 81);
  }

  .scroll-dark::-webkit-scrollbar-thumb {
    background: rgb(109, 109, 109);
  }

  .scroll-dark::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}